QDRANT_THRIFT_API_KEY = 'your qdrant api key'
QDRANT_HOST = 'your qrant endpoint'
QDRANT_WARDROBE_COLLECTION = 'clothes'
QDRANT_MARKETPLACE_COLLECTION = 'marketplace'
CLOTHING_TAGS = ["t-shirt", "shirt", "blouse", "dress", "skirt", "jeans", "shorts","jumpsuit", "hoodie", "jacket", "coat", "sweater", "cardigan","trousers", "suit", "blazer", "tank top", "crop top", "black", "white", "beige", "red", "blue", "green", "yellow", "brown", "gray", "pink", "purple", "orange ", "navy", "denim", "cotton", "silk", "linen", "leather", "wool", "knit", "lace", "satin", "mesh", "velvet", "corduroy", "summer", "winter", "spring", "fall", "all-season", "casual", "formal", "business", "party", "wedding", "vacation", "streetwear", "athleisure", "night out", "loungewear", "oversized", "slim fit", "cropped", "baggy", "high-waisted", "fitted", "flowy", "asymmetrical", "minimalist", "boho", "edgy", "preppy", "solid", "striped", "plaid", "floral", "polka dot", "graphic", "animal print", "abstract", "geometric"]